.contact h2{
    margin-top: 70px;
    font-size: 40px;
    color: #ededed;
    text-align: center;
    margin-bottom: 10px;
}
.contact form{
    width: 600px;
    text-align: center;
    box-sizing: border-box;
    
    min-height: 80vh;
    background: #081b29;

}
form .input-box{
    display: flex;
    justify-content: space-between;

}
.input-box .input-field{
    width: 48.5%;
}
.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #00abf0;
    outline: none;
    border-radius: 8px;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}
.field.error .item{
    border-color: #063d65;
}

.field .item::placeholder{
    color: rgba(255, 255, 255, .3);
}
.field .error-txt{
    font-size: 14.5px;
    color: #063d65;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}
.field.error .error-txt{
    display: block;
}

form .textarea-field .item {
    resize: none;
}
form .textarea-field .error-txt {
    margin-top: -10px;
}
form button {
    padding: 12px 32px;
    background: #00abf0;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px #00abf0;
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
}
